<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>04-Vue的常用指令-v-if</title>
</head>
<body>

<div id="app">
    <p v-if="show">要显示出来!</p>
    <p v-if="hide">不要显示出来!</p>
    <p v-if="height > 1.55">小明的身高: {{height}}m</p>
    <p v-if="height1 > 1.55">小明的身高: {{height1}}m</p>
    <!--<p v-if="1">小明的身高: {{height1}}m</p>-->
</div>

<script src="js/vue.js"></script>
<script>
    new Vue({
       el: '#app',
        data: {
            show: true,
            hide: false,

            height: 1.68,
            height1: 1.50
        }
    });
</script>
</body>
</html>